<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>hHomepage</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
       <form action="{% url 'addbook' %}" method="POST">
             {% csrf_token %}
            <label>Name</label>
            <input type="text" name="book_name" placeholder="Book Name">
            <label>Publisher Name</label>
            <input type="text" name="publisher_name" placeholder="Publisher Name">
            <label>Publisher Age</label>
            <input type="text" name="publisher_age" placeholder="Publisher Age">
            <label>Page No.</label>
            <input type="text" name="page_no" placeholder="Page No">
            <label>Publication Date</label>
            <input type='date' name="publication_date">
            <label>Type</label>
            <select name="genre">
                <option value="sci-fi">sci-fi</option>
                <option value="drama">drama</option>
                <option value="novel">novel</option>
            </select>
            <button type="submit" value="Submit"> Save</button>
        </form>

        <script src="" async defer></script>
    </body>
</html>